:root{
    --bgcolorHero:#1a1a1a;
    --colorHero:#fffffff6;
    --bgOverview:#f2f2f2;
    --colorOverview:#111111;
    --linkOverview:#454545;
    --bgBlueColor:#85a2a6e6;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
}

.container{
   width:100%;
   min-width: 300px;
   max-width: 800px;
   margin:0 auto;
   color:var(--colorHero);
   background-color:var(--bgcolorHero);
}

.hero{
    width:100%;
    height: 480px;
    background-image:url('../assets/img/hero.png');
    background-repeat:no-repeat;
    background-size:600px 450px; 
    background-position:50% 0;
}

.hero h1,
.hero p{
    text-align:center;
}

.hero h1{
    padding-top:8px;
    font-size:6rem;
    font-family: 'Lato',sans-serif;
    letter-spacing:-1px;
    text-transform: uppercase;
}

.hero p{
    margin-top:12px;
    font-size:2rem;
    font-family:'Open Sans',sans-serif;
}

.safe{
    height: 600px;
    background-size:280px;
}

.safe .safe__article{
    width:100%;
    margin: 0 auto;
    max-width: 440px;
    display:flex;
    flex-wrap: wrap;
}

.safe__article h2{
    margin-top:60px;
    text-align:center;
    font-size:2.4rem;
    font-family:'Lato',sans-serif;
}

.safe__article figure{
    display:flex;
    flex-wrap:wrap;
}


.safe--image{
    width:100%;
    max-width:500px;
    margin-top:20px;
    margin-right:auto;
    margin-left:auto;
    min-width: 280px;
  }

.safe__article figcaption{
    margin:0 auto;
    font-size:1.6rem;
    line-height:1.6;
    font-family:'Open Sans',sans-serif;
}

.safe__article figcaption h2{
    display:none;
}

.safe__article figcaption p{
    /* margin-top:16px; */
    padding-right: 8px;
    padding-left:8px;
    text-align: left;
}

.overview{
    padding-top:20px;
    height: calc(1270px - 100vw);
    min-height:460px;
    padding-left:8px;
    padding-right:8px;
    color:var(--colorOverview);
    background-color:var(--bgOverview);

}

.overview .overview__article{
    width:100%;
    margin:0 auto;
    max-width:440px;
    display:flex;
    flex-direction:column;
}

.overview__article h2{
    margin-top:20px;
    padding-top:40px;
    font-size:2.4rem;
    font-family:'Lato',sans-serif;
}

.overview__article h3{
    margin-top:20px;
    font-size:1.6rem;
    font-family:'Open Sans',sans-serif;
}

.overview__article p{
    margin-top:26px;
    font-size:1.6rem;
    font-family:'Open Sans',sans-serif;
    line-height:1.6;
    letter-spacing:0.02;
}

.overview__article h2{
    padding-top:20px;
    text-align:center;
}

.link{
    display:inline-block;
    margin-top:20px;
    font-size:1.6rem;
    font-weight: bold;
    font-family:'Open Sans',sans-serif;
    text-decoration:none;
    padding:12px 32px;
    border-radius: 33px;
}

.article__link{
    border:2px solid var(--colorOverview);
}

.article__link:link{
    color:var(--colorOverview);
   
}

.article__link:hover{
    color:var(--bgOverview);
    background-color:var(--linkOverview);
    border-color:var(--linkOverview);
}

.overview--image{
    display:none;
}

.ranking__img:nth-of-type(1){
    background-image: url('../assets/img/img4.jpeg');
}

.ranking__img:nth-of-type(2){
    background-image:url('../assets/img/img5.jpeg');
}

.ranking__img:nth-of-type(3){
    background-image:linear-gradient(0deg,var(--bgBlueColor),var(--bgBlueColor)),url('../assets/img/img6.jpeg');
}

.ranking__img:last-of-type{
    background-image:url('../assets/img/img1.jpeg');
}

.ranking__img{
    height:400px;
    background-repeat: no-repeat;
    background-size: 540px 400px;
    background-position: 50%;
}

.ranking__title,
.ranking__description,
.ranking__link{
    margin-right: 8px;
    margin-left:8px;
}

.ranking__title{
    display:inline-block;
    margin-top:100px;
    font-size:2.4rem;
    font-family:'Lato',sans-serif;
}

.ranking__content{
    width:100%;
    max-width:360px;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ranking__content .ranking__title,
.ranking__content .ranking__link{
    align-self:flex-start;
}

.ranking__description{
    max-width:362px;
    margin-top:16px;
    font-size:1.6rem;
    font-family:'Open Sans',sans-serif;
    line-height: 1.6;
}

.ranking__link{
   border:2px solid var(--colorHero);
   color:var(--colorHero);
}

.ranking__link:hover{
    background-color:var(--colorHero);
    color:var(--colorOverview);
}

.driving{
    width:100%;
    padding-right:8px;
    padding-left:8px;
    color:var(--bgOverview);
    background-color:#575454c2;
}

.features{
    padding-top:80px;
    padding-right:8px;
    padding-left:8px;
    display:grid;
    grid-template-columns:minmax(160px,1fr) minmax(160px, 1fr);
    grid-auto-rows:90px;
    font-family:'Open Sans',sans-serif;
}

.features__grid p{
    margin-left:8px;
    font-size:1.6rem;
}

.features__grid .link{
    padding:12px 24px;
    color:var(--linkOverview);
    border:2px solid var(--linkOverview);
}

.features .features__grid .features--icon{
    display:block;
    width:50px;
    height: 50px;
}

.features .features__grid:nth-of-type(1) .features--icon{
    background-image:url('../assets/icons/icon1.svg');
}

.features .features__grid:nth-of-type(2) .features--icon{
    background-image:url('../assets/icons/icon3.svg');
}

.features .features__grid:nth-of-type(7) .features--icon{
    background-image:url('../assets/icons/icon4.svg');
}

.features .features__grid:nth-of-type(8) .features--icon{
    background-image:url('../assets/icons/icon2.svg');
}

.features .features__grid:nth-of-type(13) .features--icon{
    background-image:url('../assets/icons/icon5.svg');
}

.features .features__grid:nth-of-type(14) .features--icon{
    background-image:url('../assets/icons/icon1.svg');
}

.features .features__grid .link{
    margin-top:0;
}

.driving__article{
    padding-top:80px;
    padding-bottom:80px;
    width:100%;
    margin:0 auto;
    max-width:440px;
}

.driving h2{
    margin-top:40px;
    text-align:center;
    font-size:2.4rem;
}

.driving h3{
    margin-top:16px;
    font-size:2rem;
}

.driving p{
    margin-top:12px;
    font-size:1.6rem;
    font-family:'Open Sans',sans-serif;
    line-height: 1.6;
}

.driving__link:link{
    margin-bottom:20px;
    color:var(--colorHero);
    border:2px solid var(--colorHero);
}

.driving__link:hover{
    color:var(--bgcolorHero);
    background-color:var(--colorHero);
}

.location{
    padding-bottom:40px;
    background-color:var(--bgBlueColor);
}

.location h4{
    display:block;
    padding-top:20px;
    font-size:2rem;
    text-align:center;
}

.location__grid{
    margin-top:24px;
    display:grid;
    grid-template-columns:minmax(120px,1fr) minmax(120px, 1fr);
    grid-auto-rows:50px;
    row-gap:12px;
}

.address,
.phone{
    border-top:2px solid var(--colorHero);
}

.address h5,
.phone h5{
    margin-top:12px;
    text-align: center;
    font-family:'Lato',sans-serif;
    font-size:1.6rem;
}

.location__item p{
    text-align:center;
    font-family:'Open Sans',sans-serif;
    font-size:1.2rem;
}

footer{
    padding:8px;
    background-color: #383838;
    font-size:1.2rem;
}

footer p{
    margin:20px;
}

footer p:last-of-type{
    display:inline-block;
    margin-bottom:20px;
}

.footer__link{
    color:var(--colorHero);
}

